<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<th:block th:fragment="adminSidebar">
		<!-- 사이드바 -->
		<div class="sidebar">
			<div class="logo">MOIT</div>
			<div class="menu">	
				<!-- 링크생기면 th:href -->
				<a href="#">회원관리</a> 
				<a href="#" class="active"> 관리자관리 </a> 
				<a href="#">지역관리</a> 
				<a href="#">카테고리관리</a> 
				<a href="#">공지사항</a> 
				<a href="#">행사관리</a> 
				<a href="#">광고관리</a>
			</div>
		</div>
	</th:block>
</body>
</html>