@charset "UTF-8";


/*안보이게 숨김*/
.myhidden{
    position: absolute;
    left:-9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip:rect(0,0,0,0); /*요소를 잘라서 시각적으로 완전히 숨김-구형브라우저 호환*/
}

/*각 디바이스에 맞게 원하는 사이즈 지정해서 css 적용*/
/*화면사이즈가 모바일버전이하이면 .myvisual 숨김처리 
    min-width: 576px이 모바일버전
    max-width: 575px이 모바일버전 이하
*/
@media (max-width: 575px) {
    .myvisual{ display: none;}
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* 푸터 높이 지정 필요 */
}